@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.navbar,
.hero,
.footer {
    background-color: #1f2937;
}

.navbar .container {
    max-width: 1000px;
    height: 60px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.navbar .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a,
.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.navbar li a:hover {
    color: #c8ccd5;
}

.navbar .navlinks {
    text-align: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.hero .container {
    max-width: 1000px;
    padding: 56px 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero .text {
    width: 50%;
}

.hero img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero p {
    margin-bottom: 18px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
}

.hero button:hover {
    background-color: #1865e2;
    color: #e0e6db;
}

.hero button:active {
    scale: 0.9;
}

.info .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 48px 16px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 36px;
}

.info .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.info .box {
    text-align: center;
    color: #6b717b;
    width: 200px;
}

.info img {
    width: 180px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container {
    max-width: 900px;
    color: #1f2937;
    margin: 0 auto;
    padding: 84px 16px;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
}

.quote .quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.banner .container {
    max-width: 1000px;
    margin: 0 auto;
}

.banner .banner-box {
    width: 100%;
    margin: 100px 16px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 48px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.banner .banner-text h2 {
    color: #f9faf8;
}

.banner .banner-text p {
    color: #e5e7eb;
}

.banner button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
}

.banner button:hover {
    background-color: hsl(217, 81%, 49%);
    color: #e0e6db;
    border: 2px solid #e0e6db;
}

.banner button:active {
    scale: 0.9;
}

.footer {
    height: 100px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}